<div class="jumbotron center">
  <h2>Welcome to my Pinteresting webpage!</h2>
    <p><br/>
      Would like you like to <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-med" %><br/><br/>
      Maybe you already have a <%= link_to "Login", new_user_session_path, class: "btn btn-default btn-med" %>
    </p>
</div>