<h1>About us</h1>
<p>Welcome to my work on the <a href="http://onemonthrails.com">One Month Rails</a> Pinteresting App!</p>

<p>Would you like to go back to the <%= link_to "home", root_path %> page?</p>
