<div class="jumbotron" align="center">
    <h1>Woo, my "first" app!!</h1>
    <p>Didja wanna <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-med" %></p>
    <p>Maybe you already have a <%= link_to "Login", "#", class: "btn btn-default btn-med" %></p>
    <br/>
</div>
<p>Maybe you want to know <%= link_to "about us", about_path %>?</p>