<div class="jumbotron">
    <h1>Woo, my "first" app!!</h1>
    <p>Didja wanna <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
    <p>Maybe you want to know <a href="about">about us</a>?</p>
</div>