<div class="jumbotron center">
  <h1>Sorry, signup is still under construction :-(</h1>
</div>
<p class-"center">Maybe you want to know <%= link_to "about us", about_path, class: "btn btn-primary btn-xs"%>?<br/><br/>
Or we can take you back to the <%= link_to "home page", root_path%>.</p>
